---
layout: archive
title: "About"
permalink: /about/
author_profile: true
---

个人简介
======
**孔得朋**，男，博士，副教授，硕士生导师。青岛（西海岸）黄岛新区首批紧缺人才，机电工程学院海洋油气装备及安全技术研究中心成员。2013年6月于中国科学技术大学火灾科学国家重点实验室获得工学博士学位，2013年11月于香港城市大学获得哲学博士学位（Phd）。Journal of Hazardous Materials、Journal of Thermal Analysis and Calorimetry、International Journal of Hydrogen Energy 、Physica A、Fire and Materials、Process Safety Progress、《中国安全科学学报》等国内外期刊审稿人。




近期动态
======
{% include base_path %}

{% for post in site.about reversed %}
  {% include archive-single.html %}
{% endfor %}


